ul li{
    display: flex;
    gap: 10px;
    justify-content: center;
    border: solid 1px #1282a2;
    cursor: pointer;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.btnFav{
    padding: 5px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    align-items: center;
}
.btnFav:hover{
    background-color: #001f54;
    border: none;
}